.header {
    background-color: #1F2937;
    color:#E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    font-size: 18px;
    color:#E5E7EB;
    list-style: none;
    display: flex;
    gap: 16px;
}

.main {
    background-color: #1F2937;
    font-size: 48px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.text {
    color: #F9FAF8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color:#E5E7EB;
    font-weight: 400;
}

img {
    width: 400px;
    height: 300px;
    border-radius: 7%;
}
 .box {
    margin:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
 }
.card {
    height: 150px;
    width: auto;
    border: 3px solid;
    border-color: #3882F6;
    border-radius: 10%;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
    padding: 100px 200px;
}

.signup {
background-color: #3882F6;
color: white;
margin: 100px;
padding: 40px 80px;
font-size: 18px;
font-weight: bold;
border-radius: 10px;
display: flex;
justify-content: space-between;
}

.smallsignuptext {
    font-size: 14px;
    font-weight: lighter;
}

.footer {
    background-color: #1F2937;
    color:#E5E7EB;
    size: 18px;
    padding:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 3px 16px;
    margin: 5px;
    border: white solid 1px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.topbutton {
    border: none;
}